<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Contact page</title>
</head>
<body>
  <div>
    <nav>
       <h4>Thyrrestrup mink farm :)</h4>
           <ul>
               <ul>
                   <li><a href="/">Home</a></li>
                   <li><a href="/login">Login</a></li>
                   <li><a href="/register">Register</a></li>
                   <li><a href="/contact">contact</a></li>
               </ul>
           </ul>
   </nav>
</div>

<div class="card mb-3">
  <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/se2d7155d6368abec/image/i1a65fa82efc209c9/version/1477465477/image.jpg" class="card-img-top" style="width: 700x; height: 350px;" alt="...">
  <div class="card-body">
    <h5 class="card-title">Kontakt</h5>
    <p class="card-text">Telefon: +45 22  42 30 50 Email: info@tmink.dk Åbningstider: Mandag til torsdag: 8:00 - 16:00 Fredag: 8:00 - 14:00</p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Adresse</h5>
    <p class="card-text">Thyrrestrup Produktion Vestvej 18, DK-9600 Aars</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    This is some text within a card body.
  </div>
</div>
</body>
</html>