<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Fleet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <header class="sidebar">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <a class="active" href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#statistics"><i class="fa fa-fw fa-pie-chart"></i> Statistic</a>
        <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="Register.html"><i class="fa fa-fw fa-user"></i> Register</a>'
    </header>

<body>

<div class="content">
  <a href="#" class="list-group-item list-group-item-action active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="headline">Min flåde</h5>
    </div>
    <p class="sub-title">Oversigt over dine maskiner.</p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="machineNr">Maskin nr: #000024u81453</h5>
    </div>
    <div>
    <img src="https://cdn.lfmedia.dk/CMSContent/Media/PageContent/Max/22784.jpg" class="card-img-top" style="width: 175px; height: 100px; float: left;" alt="...">
    <p class="mb-1">Type: fodervogn</p>
    <p class="mb-1">Timer siden sidste servicecheck: </p>
    <p class="mb-1">Sidst aktiv: </p>
    <p class="mb-1">Antal maskin timer: </p>
    </div>
  </a>
 <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="machineNr">Maskin nr: #000024u81453</h5>
    </div>
    <div>
    <img src="https://cdn.lfmedia.dk/CMSContent/Media/PageContent/Max/22784.jpg" class="card-img-top" style="width: 175px; height: 100px; float: left;" alt="...">
    <p class="mb-1">Type: fodervogn</p>
    <p class="mb-1">Timer siden sidste servicecheck: </p>
    <p class="mb-1">Sidst aktiv: </p>
    <p class="mb-1">Antal maskin timer: </p>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="machineNr">Maskin nr: #000024u81453</h5>
    </div>
    <div>
    <img src="https://cdn.lfmedia.dk/CMSContent/Media/PageContent/Max/22784.jpg" class="card-img-top" style="width: 175px; height: 100px; float: left;" alt="...">
    <p class="mb-1">Type: fodervogn</p>
    <p class="mb-1">Timer siden sidste servicecheck: </p>
    <p class="mb-1">Sidst aktiv: </p>
    <p class="mb-1">Antal maskin timer: </p>
    </div>
  </a>
</div>
</div>
</body>
</html>